<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.col_name') %></th>
        <th scope="col"><%= t('.col_current') %></th>
        <th scope="col"><%= t('.col_edit') %></th>
        <th scope="col"><%= t('.col_delete') %></th>
      </tr>
    </thead>
    <tbody>
      <% @packs.each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= (link_to t('.link_current'), current_pack_path(c), method: :patch) %></td>
          <td><%= link_to t('.link_edit'), edit_pack_path(c) %></td>
          <td><%= link_to t('.link_delete'), pack_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
