<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Оригинальный текст</th>
        <th scope="col">Перевод</th>
        <th scope="col">Дата обзора</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |c| %>
        <tr>
          <td><%= c.original_text %></td>
          <td><%= c.translated_text %></td>
          <td><%= c.review_date.to_formatted_s(:rfc822) %></td>
          <td><%= link_to 'Edit', edit_card_path(c) %></td>
          <td><%= link_to 'Delete', card_path(c), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
