<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.col_orig_text') %></th>
        <th scope="col"><%= t('.col_transl_text') %></th>
        <th scope="col"><%= t('.col_date') %></th>
        <th scope="col"><%= t('.col_edit') %></th>
        <th scope="col"><%= t('.col_delete') %></th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |c| %>
        <tr>
          <td><%= c.original_text %></td>
          <td><%= c.translated_text %></td>
          <td><%= c.review_date.to_formatted_s(:rfc822) %></td>
          <td><%= link_to t('.link_edit'), edit_card_path(c) %></td>
          <td><%= link_to t('.link_delete'), card_path(c), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
