<section pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center>
  <p class="lead">
    Первый в мире  удобный менеджер флеш-карточек. Именно так.
  </p>

<%= simple_form_for(:user_choise, url: "flash_cards/index", html: { class: 'form-group' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :user_text, label: 'Оригинальный вариант' %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
<%= @cards[1] %>
</section>
